<template id="x-spoiler">
    <style>
        :host {
            display: block;
            margin-bottom: 20px;
        }

        :host > section {
            display: none;
        }

        :host([opened]) > section {
            display: block;
        }
    </style>
    <button type="button"></button>
    <section>
        <slot></slot>
    </section>
</template>

<script>
    class XSpoiler extends XComponent {
        constructor() {
            super();

            this.text = {
                "when-close": "Развернуть",
                "when-open": "Свернуть"
            };

            this.makeShadowRoot();
            this.shadowRoot.$("button").textContent = this.text["when-close"];

            this.shadowRoot.$("button").addEventListener("click", () => {
                this.opened = !this.opened;
            });
        }

        get opened() {
            return this.getAttribute("opened") !== null;
        }

        set opened(state) {
            if (!!state) {
                this.setAttribute("opened", "");
            } else {
                this.removeAttribute("opened");
            }
        }

        attributeChangedCallback(attrName, oldVal, newVal) {
            switch (attrName) {
                case "opened":
                    const opened = newVal !== null;
                    const text = this.text[opened ? "when-open" : "when-close"];
                    this.shadowRoot.$("button").textContent = text;
                    this.fireEvent("x-spoiler.changed", {opened});
                    break;

                case "text-when-open":
                    this.text["when-open"] = newVal;
                    if (this.opened) {
                        this.shadowRoot.$("button").textContent = newVal;
                    }
                    break;

                case "text-when-close":
                    this.text["when-close"] = newVal;
                    if (!this.opened) {
                        this.shadowRoot.$("button").textContent = newVal;
                    }
                    break;
            }
        }

        static get observedAttributes() {
            return [
                "opened",
                "text-when-open",
                "text-when-close",
            ];
        }
    }

    customElements.define("x-spoiler", XSpoiler);
</script>
